
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lalezar&display=swap" rel="stylesheet">
    <link type="text/css" href="css/jquery.bbslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <title>Document</title>

</head>
<body>
    <div class="hero">
        <div class="section1 vertical-container">
            <div class="in-vertical">
                <div class="logo-menu">
                    <div class="logo">
                        <span>W</span>
                        <span>flipp</span>
                    </div>
                </div>
                <div class="explore">
                    <h2>explore</h2>
                    <h2>full lineup</h2>
                </div>
            </div>
            <div class="date">
                <div class="in-date">
                    <h1>DRESS</h1>
                    <h1>EXPRESS</h1>
                    <h1>IMPRESS</h1>
                </div>
            </div>
        </div>
        <div class="section2">
            <div class="image"> 
                <video class="videoInsert" autoplay muted loop>
                    <source src="prada.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="bottom">
                <div class="blanc"></div>

                <div class="blocks">
                   <!-- Put a slider here slider -->
                    <img src="./images/women.jpg" alt="">
                    <!-- <img src="white.jpg" alt="">
                    <img src="tomas.jpg" alt=""> -->
                </div>
                <div class="list header" id="myHeader">
                    <ul>
                        <a href="#nouveaute"><li>Nouveaute</li></a>
                        <a href="#vetement"><li>Vetement</li></a>
                        <a href="#chaussures"><li>chaussures</li></a>
                        <a href="#accessoires"><li>accessoires</li></a>
                        <a href="panier.html"><li>panier (0)</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="under" id="nouveaute">
                <div class="p1">
                    <div class="lookbook">
                        <div class="col1">
                            <h1>Veste de costume <br> à rayures</h1>
                            <div class="detail-photos">
                                <!-- <div class="box one"><img src="suit.PNG" alt=""></div>
                                <div class="box two"><img src="suit.PNG" alt=""></div>
                                <div class="box three"><img src="suit.PNG" alt=""></div> -->
                            </div>
                        </div>
                        <div class="col2">
                            <div class="center-img">
                                <img src="./images/suit.PNG" alt="">
                            </div>
                        </div>
                        <div class="col3">
                            <h1>97 $</h1>
                            <p>Viens par ici, on a des choses à se dire. Cette veste est un modèle blazer à coupe ample offrant des revers crantés,
                                deux poches décoratives à l'avant, une fermeture à double boutonnage ainsi qu'un imprimé à rayures.</p>
                            <p>Meduim size</p>
                            <p>prada</p>
                            <p>great condition</p>
                            <button>add to cart</button>
                        </div>
                    </div>
                </div>

                <div class="p2">
                    <div class="lookbook">
                        <div class="col1">
                            <h1>Veste Beige unfinished <br>business</h1>
                            <div class="detail-photos">
                                <!-- <div class="box one"><img src="beigesuit.PNG" alt=""></div>
                                <div class="box two"><img src="beigesuit.PNG" alt=""></div>
                                <div class="box three"><img src="beigesuit.PNG" alt=""></div> -->
                            </div>
                        </div>
                        <div class="col2">
                            <div class="center-img">
                                <img src="./images/beigesuit.PNG" alt="">
                            </div>
                        </div>
                        <div class="col3">
                            <h1>105 $</h1>
                            <p>On a des choses à se dire. Cette veste est un modèle blazer à coupe ample offrant des revers crantés,
                                deux poches décoratives à l'avant, une fermeture à double boutonnage ainsi qu'un imprimé à rayures.</p>
                            <p>Meduim size</p>
                            <p>prada</p>
                            <p>great condition</p>
                            <button>add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="p3">
                    <div class="lookbook">
                        <div class="col1">
                            <h1>Veste Orange simple <br> et chic</h1>
                            <div class="detail-photos">
                                <!-- <div class="box one"><img src="orangesuit.PNG" alt=""></div>
                                <div class="box two"><img src="orangesuit.PNG" alt=""></div>
                                <div class="box three"><img src="orangesuit.PNG" alt=""></div> -->
                            </div>
                        </div>
                        <div class="col2">
                            <div class="center-img">
                                <img src="./images/orangesuit.PNG" alt="">
                            </div>
                        </div>
                        <div class="col3">
                            <h1>235 $</h1>
                            <p>Come here, on a des choses à se dire. Cette veste est un modèle blazer à coupe ample offrant des revers crantés,
                                deux poches décoratives à l'avant, une fermeture à double boutonnage ainsi qu'un imprimé à rayures.</p>
                            <p>Meduim size</p>
                            <p>prada</p>
                            <p>great condition</p>
                            <button>add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="sepa"></div>
    <div class="might-like">
        <h1>Vetements</h1>
        <div class="vetements" id="vetement">
            <div class="item"><img src="./images/beigesuit.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/orangesuit.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/suit.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/cloth.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/cloth2.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/cloth3.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><i class="fas fa-arrow-right"></i> voir plus</div>
        </div>
        <div class="sepa"></div>
        <h1>chaussures</h1>
        <div class="chaussures" id="chaussures">
            <div class="item"><img src="./images/shoes1.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/shoes2.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/shoes3.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/shoes4.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/shoes5.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><i class="fas fa-arrow-right"></i> voir plus</div>
        </div>
        <div class="sepa"></div>
        <h1>accessoires</h1>
        <div class="accessoires" id="accessoires">
            <div class="item"><img src="./images/acc1.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/acc2.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><img src="./images/acc3.PNG" alt="" class="item-img"><div class="apercu">Apercu rapide</div><p>Veste de costume à rayures</p><p class="prix">1000$</p></div>
            <div class="item"><i class="fas fa-arrow-right"></i> voir plus</div>
        </div>
    </div>
    <br>
    <div class="footer">
        <div class="left-side">
            <div class="info">
                <p class="tit">INFORMATIONS SUR L'ENTREPRISE</p>
                <p>Qui Sommes-Nous?</p>
                <p>Affilié</p>
                <p>Blogger</p>
            </div>
            <div class="centre-aide">
                <p class="tit">CENTRE & D'AIDE</p>
                <p>Livraison</p>
                <p>Retour</p>
                <p>Commande</p>
                <p>Statut De Commande</p>
            </div>
            <div class="aide">
                <p class="tit">AIDE</p>
                <p>Nous Contacter</p>
                <p>Paiement</p>
                <p>Points Bonus</p>
            </div>
        </div>
        <div class="right-side">
            <p class="tit">trouver nous sur</p>
            <div class="social-media">
                <a href=""><img src="./images/facebook.png" alt=""></a>
                <a href=""><img src="./images/instagram.png" alt=""></a>
                <a href=""><img src="./images/youtube.png" alt=""></a>
            </div>
            <p>ABONNEZ-VOUS À NOTRE NEWSLETTER POUR SUIVRE TOUTE L'ACTUALITÉ SHEIN EN AVANT-PREMIÈRE ! (VOUS POUVEZ VOUS DÉSABONNER À TOUT MOMENT).</p>
            <div><input type="text" placeholder="Votre email"><button>S'abonner</button></div>
        </div>
    </div>



    <!-- Include jQuery -->
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
    <!-- Include the slider plugin -->
    <script type="text/javascript" src="js/jquery.bbslider.min.js"></script>

    <script>
        $('.under').bbslider({
            auto:  true,
            timer: 2500,
            loop:  true
        });

        // When the user scrolls the page, execute myFunction
        window.onscroll = function() {myFunction()};

        // Get the header
        var header = document.getElementById("myHeader");


        // Get the offset position of the navbar
        var sticky = header.offsetTop;
        
        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>