{% extends 'base.html.twig' %}

        {% block header %}
            <title>
                
            </title>
            
        {% endblock %}

{% block body %}
<center>
    <h1>Administrateur</h1>
</center>
<div style="position:absolute;top:40%;width:100%";>
    <center> Mail :.............. <input type="mail" value="Mail"><br>
    Mot de passe : <input type="password" value="Mot de passe" id="in1" ><br>
    <button width="300px" onClick="verif()" id="in2">Valider</button>
    <center>
<div>

{% endblock %}