* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}
.hero {
	display: flex;
}
a {
	text-decoration: none;
}
.section1 {
	width: 45%;
	height: 100vh;
	background-color: #2b2b2b;
	display: flex;
	color: white;
}
.in-vertical {
	width: 35%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #2b2b2b;
	color: white;
}
.logo-menu {
	height: 22vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: 40px 0 0 40px;
	color: white;
}
.explore {
	transform: rotate(-90deg);
	text-transform: uppercase;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	bottom: 100px;
	left: -10px;
	color: white;
}
.date {
	margin-left: -50px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.in-date {
	text-align: justify;
	font-size: 65px;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0;
	text-transform: uppercase;
	color: white;
}
.logo {
	display: flex;
	justify-content: space-between;
	color: white;
}
span:first-of-type {
	margin-right: 10px;
}
span {
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
}
ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	font-weight: lighter;
}
li {
	color: white;
	font-size: 16px;
	margin: 18px 0;
}
.section2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 55%;
	height: 100vh;
	background-color: #2b2b2b;
}
.image {
	margin: 15px 10px 0 0;
	height: 55%;
	width: 100%;
}
video {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.bottom {
	height: 40%;
	width: 100%;
}
.blocks {
	height: 80%;
}

.list {
	background-color: #2b2b2b;
	height: 19%;
	position: relative;
}
.sticky {
	position: fixed;
	background-color: #2b2b2b;
	z-index: 1;
	top: 0;
	right: 0;
	height: 60px;
	width: 100%;
	padding-left: 45%;
}
.blocks img {
	width: 100%;
	max-height: 100%;
	display: block;
	background-size: cover;
}
i {
	color: #2b2b2b;
}

.lookbook {
	padding-top: 25px;
	width: 100%;
	height: 90vh;
	margin: 0 auto;
	background-color: #f5f4f2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-bottom: 25px;
}
.under {
	background-color: #f5f4f2;
	display: flex;
	flex-direction: column;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.flesh {
	margin: 0 auto;
}
.center-img img {
	width: 100%;
	height: 600px;
	object-fit: contain;
}
.col1 {
	background-color: #f5f4f2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.col1 h1 {
	color: #2b2b2b;
}

.box {
	height: 150px;
	width: 100px;
	background-color: white;
	margin: 5px;
	border: 1px solid rgb(107, 106, 106);
}
.box img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.detail-photos {
	display: flex;
	margin: 0 auto;
}

.col3 {
	height: 100%;
	background-color: #f5f4f2;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 20px;
}
.col3 p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #2b2b2b;
}
.col3 button {
	color: #2b2b2b;
	border: none;
	background-color: transparent;
	text-decoration: underline;
	margin-bottom: 140px;
}

.col3 h1 {
	color: #2b2b2b;
	margin-top: 90px;
}
.sepa {
	width: 100%;
	height: 1px;
	background-color: #2b2b2b;
}
.might-like {
	width: 100%;
}
.item {
	margin: 10px auto 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.article-name {
	font-weight: bold;
}

.item p {
	color: #2b2b2b;
}

.item p:first-of-type {
	margin: 10px 0;
}
.item img {
	width: 280px;
	height: 400px;
}
.vetements,
.chaussures,
.accessoires {
	margin: 0 auto;
	padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.vetements .item:last-of-type,
.chaussures .item:last-of-type,
.accessoires .item:last-of-type {
	width: 280px;
	text-decoration: underline;
	color: #2b2b2b;
}
.might-like {
	width: 95%;
	margin: 0 auto;
}
.might-like h1 {
	color: #2b2b2b;
	text-align: center;
	background-color: #f5f4f2;
	padding: 15px 0;
	margin-top: 25px;
}
.apercu {
	background-color: #2b2b2b;
	border: 1px solid #2b2b2b;
	padding: 10px 18px;
	position: absolute;
	display: none;
}
button a {
	color: black;
}
.item a {
	color: black;
}
/* .item img:hover + .apercu,
.apercu:hover {
	display: inline-block;
}
.item img:hover {
	opacity: .3;
} */

.sticky-nav {
	height: 60px;
	background-color: #2b2b2b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.sticky-nav li {
	margin: 0 20px;
}
.sticky-nav ul {
	width: 55%;
}
.lg {
	padding-left: 40px;
	color: white;
}

/* h1.sug{
    text-align: start;
    margin-left: 40px;
    margin-top: 20px;
} */
.footer {
	height: 40vh;
	background-color: #2b2b2b;
	width: 100%;
	margin-bottom: -20px;
	display: flex;
	color: white;
}
p.prix {
	font-weight: 300;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.left-side {
	flex: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.right-side {
	flex: 1;
	height: 30vh;
	margin: auto 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.right-side input {
	height: 30px;
	width: 250px;
	color: black;
}
.right-side button {
	height: 30px;
	width: 80px;
	color: black;
	margin-left: 8px;
}
.social-media img {
	height: 40px;
	margin-right: 10px;
}
.tit {
	color: rgb(187, 187, 187);
	margin-bottom: 10px;
}
/*-------------------------------- cart --------------------------------------*/
.cart-container {
	display: flex;
	position: relative;
	width: 80vw;
	margin: 10vh auto 0;
}
.cart-s1 {
	width: 60%;
	margin-bottom: 5vh;
}
.remarques {
	background-color: #f5eace;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #b93434;
	padding: 13px 20px;
	margin-bottom: 5vh;
}
.rm {
	margin-bottom: 5px;
}
.cart-img {
	height: 18vh;
	width: 7.5vw;
}
.cart-item {
	margin-top: 15px;
	padding-top: 20px;
	display: flex;
	border-top: 1px solid black;
}
.choice {
	display: flex;
	flex-direction: column;
}
.info-commande {
	margin-left: 12px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.cart-separator {
	width: 3vw;
	margin-left: 3vw;
	border-left: 1px solid black;
}
.remove {
	text-decoration: underline;
	font-style: italic;
}
.cart-s2 {
	width: 40%;
}
.pd {
	margin-bottom: 15px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.prices-div {
	border-top: 1px solid black;
	padding: 20px 0;
	margin-top: 10px;
}
#total {
	color: #b93434;
}

#commander {
	padding: 15px 10vw;
	background-color: #2b2b2b;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: white;
}
#commander:hover {
	cursor: pointer;
}
#delete {
	font-size: 16px;
	color: black;
	font-family: initial;
	text-decoration: none;
	font-style: italic;
}
/* page femme */
.femme-page {
	height: 300px;
	width: 100%;
}
/* finaliser commande */
#pop-up {
	position: fixed;
	visibility: hidden;
	height: 75vh;
	width: 60vw;
	background-color: white;
	border: 1px solid black;
	left: 23%;
	top: 14%;
}

#close {
	height: 22px;
	position: absolute;
	right: 15px;
	top: 15px;
}
#close:hover {
	cursor: pointer;
}
.titres {
	text-align: center;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 30px;
	margin: 0 auto 30px;
	width: 78%;
}
.frm-cmd {
	border-right: 1px solid black;
	width: 25vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.area {
	margin-bottom: 15px;
}
.label {
	text-align: start;
	padding-bottom: 5px;
}
.input {
	width: 20vw;
	min-width: 15vw;
	height: 35px;
}
.textarea {
	width: 20vw;
	min-width: 15vw;
	height: 80px;
}
.sec {
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f5f4f2;
	height: 20vh;
	width: 20vw;
}
.modal {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.policies {
	text-align: start;
	margin-top: 7vh;
	margin-left: -35px;
	display: flex;
	max-width: 25vw;
	flex-direction: column;
}
#finaliser {
	padding: 2vh 0;
	width: 23vw;
	margin-top: 7vh;
	margin-left: 3px;
	border: none;
	color: white;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
#finaliser:hover {
	cursor: pointer;
}
